[Unit]
Description=Spotify Websocket Server for Current playing album Cover

[Service]
User=janne
Group=1000
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse/"
WorkingDirectory=/home/janne/python_spotify_websocket_server/yamaha
ExecStart=/usr/bin/python yamaha.py
Restart=always
StandardOutput=journal
StandardError=journal
RuntimeMaxSec=5h

[Install]
WantedBy=multi-user.target
