[Unit]
Description=Service Controller Listener
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/janne/service-controller
ExecStart=/usr/bin/python3 /home/janne/service-controller/main.py led-matrix
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
